<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/home.css">
</head>
<body>
<header th:insert="blocks/header::header"></header>

    <div class="container mt-5 mb-5 box">
        <div class="container mt-5 mb-5">
            <nav class="my-2 my-md-0 mr-md-3">
                <button class="btn btn-success active"><a class="p-2 text-dark" href="#">COM</a></button>
                <button class="btn btn-success"><a class="p-2 text-dark" href="#">MAT</a></button>
                <button class="btn btn-success"><a class="p-2 text-dark" href="#">IR</a></button>
                <button class="btn btn-success"><a class="p-2 text-dark" href="#">IE</a></button>
            </nav>
        </div>

        <table class="table ">
            <tr>
                <th colspan="13" class="text">
                    2020-2021 SPRING SEMESTER
                </th>
            </tr>
            <tr style="background-color: aquamarine;">
                <th rowspan="2" class="text"><span class="vert">Day</span></th>
                <th rowspan="2"><span class="vert">Time</span></th>
                <th>Hour 1</th>
                <th>Hour 2</th>
                <th>Hour 3</th>
                <th>Hour 4</th>
                <th>Lunch</th>
                <th>Hour 5</th>
                <th>Hour 6</th>
                <th>Hour 7</th>
                <th>Hour 8</th>
                <th>Hour 9</th>
                <th>Hour 10</th>
            </tr>
            <tr>
                <th>9:00-9:40</th>
                <th>9:50-10:30</th>
                <th>10:40-11:20</th>
                <th>10:30-12:10</th>
                <th></th>
                <th>13:00-13:40</th>
                <th>13:50-14:30</th>
                <th>14:40-15:20</th>
                <th>15:30-16:10</th>
                <th>16:20-17:00</th>
                <th>17:10-17:50</th>
            </tr>
            <tr>
                <td rowspan="4" class="text"><span class="vert">Monday</span></td>
                <td>COM-20</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>COM-19</td>
                <td colspan="2" class="credit2">Geografy of Kyrgyzstan Temirberdiev N.</td>
                <td colspan="2"></td>
                <td></td>
                <td colspan="2"></td>
                <td colspan="2" class="credit2">PE Chalova I.</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>COM-18</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>COM-17</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td rowspan="4" class="text"><span class="vert">Tuesday</span></td>
                <td>COM-20</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>COM-19</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td></td>
                <td colspan="2" class="credit6">Linear Algebra T.Aslan</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>COM-18</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>COM-17</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td rowspan="4" class="text"><span class="vert">Wednesday</span></td>
                <td>COM-20</td>
                <td colspan="2" class="credit6">Digital Electronics Eyup Shemsi Y.</td>
                <td colspan="2" class="credit6">Data Structures I. Gulbagra</td>
                <td></td>
                <td colspan="2" class="credit6">Web-Programming R.Isaev</td>
                <td colspan="2" class="credit6">Linear Algebra T.Aslan</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>COM-19</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>COM-18</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>COM-17</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td rowspan="4" class="text"><span class="vert">Thursday</span></td>
                <td>COM-20</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>COM-19</td>
                <td colspan="2" class="credit6">Digital Electronics Eyup Shemsi Y.</td>
                <td colspan="2" class="credit6">Web-Programming R.Isaev</td>
                <td></td>
                <td colspan="2" class="credit4">History of Kyrgyzstan Erdolotova</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>COM-18</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>COM-17</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td rowspan="4" class="text"><span class="vert">Friday</span></td>
                <td>COM-20</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>COM-19</td>
                <td colspan="2"></td>
                <td colspan="2" class="credit6">Data Structures I. Gulbagra</td>
                <td></td>
                <td colspan="2" class="credit4">Kyrgyz Language N. Kazakova</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>COM-18</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>COM-17</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td rowspan="4" class="text"><span class="vert">Saturday</span></td>
                <td>COM-20</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>COM-19</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>COM-18</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>COM-17</td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
        </table>

        <div>
            <button class="btn btn-success"><a class="p-2 text-dark" href="#">Save as PDF</a></button>
        </div>
    </div>

<div th:insert="blocks/footer::footer"></div>

</body>
</html>