<div th:fragment="footer">
    <footer class="footer text-muted">
        <div class="grid_16 text-center my-2 my-md-0 mr-md-3">
            <a href="https://github.com/twbs/bootstrap" class="fa fa-facebook mr-3"></a>
            <a href="https://twitter.com/getbootstrap" class="fa fa-instagram mr-3"></a>
            <a href="/docs/4.0/about/overview/" class="fa fa-envelope mr-3"></a>
            <div id="copyright" class="grid_16 text-center">
                <span>© 2021
                    Ala-Too International University
                </span>
            </div>
        </div>
    </footer>
</div>